/* Reset and global styles */
body {
  background-color: #000;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


/* Header styles */
header {
  padding: 10px;
  background-color: #000;
  text-align: center;
}

header img {
  max-width: 600px;
}

header img:hover {
  transition: 0.3s ease;
  transform: scale(1.10);
  cursor: pointer;
}

header img:active {
  transform: scale(1.5);
  transition: 0.3s
}


/* Navigation styles */
nav ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #019FDF;
}

a {
  text-decoration: none;
}

/* Hero section styles */
.hero {
  position: relative;
  height: 55vh;
  color: #fff;
  background-color: #000000;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: large;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  box-sizing: border-box;
}

.overlay h2 {
  margin-bottom: 10px;
}

.overlay p {
  margin-bottom: 0;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

/* Call-to-action styles */
.cta {
  display: inline-block;
  padding: 10px 20px;
  background-color: #019FDF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  scroll-behavior: smooth;
  width: 25%
}

.cta:hover {
  transform: scale(1.10);
  background-color: white;
  color: #000;
  transition: 0.3s ease;
}

/* Section styles */
section {
  padding: 50px 20px;
}

#about {
  text-align: center;
  font-size: 17px;

}

section h1,
h2 {
  text-align: center;
}

h2 {
  color: #019FDF;
}

section p {
  text-align: center;
  color: #fff;
}

/* Services section styles */
#services {
  background-color: #222;
  text-align: center;
}

#services h2 {
  color: #019FDF;
}

#services img {
  border-radius: 8px;
  max-height: 200px;
  max-width: 400px;
}

.service-image-container {
  max-width: 400px;
  height: 400px
}

/* Footer styles */
footer {
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 15px;
  position: relative;
}

footer a {
  color: #fff
}


footer a:hover {
  color: #019FDF;
}

/* Social icons styles */
.social-icons {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  text-align: center;
}

.social-icons a:hover {
  color: #019ee3;
  transform: scale(1.2);
}

.social-icons li {
  display: inline-block;
  margin: 0 10px;
}

.social-icons a {
  font-size: 24px;
  color: #fff;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  header img {
    max-width: 100%;
    max-height: 75%;
    /* Adjusted for smaller screens */
  }

  nav a {
    font-size: medium;
  }

  .hero {
    height: 70vh;
    /* Adjusted for smaller screens */
  }

  .button {
    display: block;
    /* Adjusted for smaller screens */
    width: 50%;
    /* Adjusted for smaller screens */
    margin: 20px auto;
    /* Adjusted for smaller screens */
  }

  .container {
    max-width: 90%;
    /* Adjusted for smaller screens */
  }

  .input-group,
  input,
  textarea,
  label {
    width: 100%;
    /* Adjusted for smaller screens */
    margin-bottom: 15px;
    /* Adjusted for smaller screens */
  }

  /* Service section specific styles */
  .service-container {
    flex-direction: column;
    /* Adjusted for smaller screens */
    align-items: center;
    /* Adjusted for smaller screens */
  }

  .service-item {
    width: 90%;
    /* Adjusted for smaller screens */
    max-width: 100%;
    /* Adjusted for smaller screens */
    margin-bottom: 30px;
    /* Adjusted for smaller screens */
  }
  .service-image-container {
    max-width: 350px;
    max-height: auto;
  }
}

/* Service section specific styles */
.service-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.service-item {
  max-width: 400px;
  max-height: auto;
  margin-bottom: 50px;
}

.service-item h3 {
  color: #019ee3;
}

.service-item .service-content {
  padding: 8px;
}

.service-item .service-image-container {
  border: 2px solid #019ee3;
  border-radius: 8px;
  overflow: hidden;
  transition: border-color 0.3s ease;
}

.service-item:hover .service-image-container {
  border-color: #fff;
  cursor: pointer;
  transform: scale(1.11);
  transition: 0.3s ease;
}

.service-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* General container styles */
.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
}

label {
  color: #fff;
}

button {
  width: 100%;
  padding: 5px;
  border-color: #000;
  border-radius: 5px;
  color: #fff;
  background-color: #019FDF;

}

button:hover {
  cursor: pointer;
  transform: scale(1.10);
  transition: 0.3s ease;
  color: #000000;
  background-color: #ffffff;

}

#contact {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}
}
