*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* Animation */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

.fade-out {
  animation: fadeOut 2s ease-in-out;
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateY(0); }
}

@keyframes slideOut {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}

.slide-in {
  animation: slideIn 1s ease-out;
}

.slide-out {
  animation: slideOut 1s ease-in;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    opacity: 1;
    transform: scale(1.03);
  }
  80% {
    transform: scale(0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.bounce-in {
  animation: bounceIn 1.5s ease;
}

a {
  text-decoration: none;
  color: #019fdf;
}

h1 {
    font-size: 4.5rem;
    font-weight: bold;
    color: #ffffff;
}

header {
  text-align: center;
  height: 150px;
  background-color: #000;
}

header img {
  max-width: 450px;
  padding: 25px;
}

nav ul {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 1.2rem;
  z-index: 1;
}

nav ul li a:after {
  content: "";
  position: absolute;
  background-color: #019fdf;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: width 0.5s ease;
  z-index: -1;
}

nav ul li a:hover:after {
  width: 100%;
}

.hero {
  position: relative;
  height: 100vh;
  color: #fff;
  padding: 0;
  background-color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: large;
}

.overlay {
  background-color: transparent;
  background-repeat: no-repeat;
  width: 50%;
  box-sizing: border-box;
}

.service-overlay {
  background-color: transparent;
  background-repeat: no-repeat;
  width: 100%;
  box-sizing: border-box;
}

.service-overlay h1 {
  font-size: 3.5rem;
  color: #019fdf;
}

.button {
  display: inline-block;
  background-color: #019fdf;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #019fdf;
  border-radius: 50px;
  margin: 20px 0;
  transition: transform 0.4s ease;
  width: 25%;
}

.button:hover {
  background-color: transparent;
  border-color: #019fdf;
  transition: 0.4s ease;
}

.button2 {
  display: inline-block;
  color: #fff;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 50px;
  margin: 20px 0;
  transition: transform 0.4s ease;
  width: 25%;
}

.button2:hover {
  border-color: #019fdf;
  background-color: #000;
  color: #fff;
  transition: 0.4s ease;
}

#intro-video {
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro-video iframe {
  width: 800px;
  height: 400px;
  border: 2px solid #019fdf;
  border-radius: 8px;
}

.service-container {
  background: linear-gradient(45deg, #019fdf, #019fdf, #000, #000);
  min-height: 75vh;
  width: 100%;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.service-wrapper {
  padding: 5% 8%;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service h1 {
  color: #019fdf;
  font-size: 4rem;
}

.cards {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  text-align: center;
}

.card {
  height: 350px;
  width: 400px;
  background-color: #333;
  padding: 3% 8%;
  border: 2px solid #fff;
  border-radius: 8px;
  transition: 0.6s;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card:hover {
  background-color: #333;
  transform: translateY(-8px);
  cursor: pointer;
  border-color: #019fdf;
}

.card::after {
  content: "";
  position: absolute;
  top: 150%;
  left: -200px;
  width: 120%;
  transform: rotate(50deg);
  background-color: #fff;
  height: 18px;
  filter: blur(30px);
  opacity: 0.5;
  transition: 1s;
}

.card:hover::after {
  width: 225%;
  top: -100%;
}

.card i {
  color: #019fdf;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 4.8rem;
}

.card h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.card p {
  color: #fff;
  text-align: center;
  width: 100%;
  margin: 12px 0;
  font-size: large;
}

#our-mission {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

#about-us {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

#about-us h1 {
  text-align: center;
  font-size: 65px;
  color: #fff;
}

#our-mission h1 {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 20px;
  color: #019fdf;
}

#our-mission img {
  width: 250px;
  margin-left: 50px;
  vertical-align: middle;
}

#who-we-help {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

#who-we-help h1 {
  font-size: 4rem;
  margin-bottom: 40px;
  color: #fff;
}

#who-we-help ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#who-we-help ul li {
  background: #333;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #019fdf;
}

#who-we-help ul li:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#who-we-help ul li h2 {
  margin: 0;
  color: #fff;
}

#who-we-help ul li p {
  margin: 10px 0 0;
  color: #fff;
}

#faq {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

#faq h1 {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #019fdf;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h2 {
  margin: 0;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s ease;
}

.faq-item p {
  display: none;
  margin: 10px 0 0;
  color: #fff;
}

.faq-item h2:hover {
  color: #019fdf;
}

/* Contact styles */
.contact {
  border-top: 2px solid #fff;
  text-align: left;
}

.contact-container {
  background: linear-gradient(45deg,#FF6F00 , #93a, #019fdf, #90EE90);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 8%;
}

.contact-container .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}

.row section.col {
  display: flex;
  flex-direction: column;
}

.row section.left {
  flex-basis: 35%;
  min-width: 320px;
  margin-right: 60px;
}

.row section.right {
  flex-basis: 60%;
}

section.left .contactTitle h2 {
  position: relative;
  font-size: 28px;
  color: #fff;
  display: inline-block;
  margin-bottom: 25px;
}

section.left .contactTitle h2::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 120%;
  left: 0;
}

section.left .contactTitle h2::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: #019fdf;
  top: calc(120% - 1px);
  left: 0;
}

section.left .contactTitle p {
  font-size: 17px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.2;
  padding-bottom: 22px;
}

section.left .contactInfo {
  margin-bottom: 16px;
}

.contactInfo .iconGroup {
  display: flex;
  align-items: center;
  margin: 25px 0px;
}

.iconGroup .icon {
  background-color: #f2f2f2;
  width: 45px;
  height: 45px;
  border: 2px solid #000000;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
}

.iconGroup .icon i {
  font-size: 20px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconGroup .details span {
  display: block;
  color: #000;
  font-size: 18px;
}

.iconGroup .details span:nth-child(1) {
  text-transform: uppercase;
  color: #fff;
}

section.left .socialMedia {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 22px 0px 20px;
}

.socialMedia a {
  width: 35px;
  height: 35px;
  text-decoration: none;
  text-align: center;
  margin-right: 15px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #f2f2f2;
  transition: 0.4s ease;
}

.socialMedia a i {
  color: #000000;
  font-size: 18px;
  line-height: 35px;
  transition-delay: 0.4s ease;
}

.socialMedia a:hover {
  border-color: #000;
}

/* contact styles */

.contact-container{
  padding: 50px;
}

/* Code for the right section (column) */
.row section.right .messageForm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.row section.right .inputGroup {
  margin: 18px 0px;
  position: relative;
}

.messageForm .halfWidth {
  flex-basis: 48%;
}

.messageForm .fullWidth {
  flex-basis: 100%;
}

.messageForm input, .messageForm textarea {
  width: 100%;
  font-size: 18px;
  padding: 2px 0px;
  background-color: transparent;
  color: #000;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
}

.messageForm textarea {
  resize: none;
  height: 220px;
  display: block;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  background-color: #1e1e1e;
  border-radius: 15px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #019fdf;
  border-radius: 15px;
}

.inputGroup label {
  position: absolute;
  left: 0;
  bottom: 4px;
  color: #fff;
  font-size: 18px;
  transition: 0.4s;
  pointer-events: none;
}

.inputGroup:nth-child(4) label {
  top: 2px;
}

.inputGroup input:focus ~ label, .inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label, .inputGroup textarea:valid ~ label {
  transform: translateY(-30px);
  font-size: 16px;
}

.inputGroup button {
  padding: 8px 16px;
  font-size: 18px;
  background-color: #019fdf;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: 0.4s ease;
}

.inputGroup button:hover {
  background-color: transparent;
  color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
}

footer p {
  margin: 0;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .cards {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    text-align: center;
  }
  .card {
    height: 350px;
    width: 300px;
    background-color: #333;
    padding: 1.5% 4%;
    border: 2px solid #fff;
    border-radius: 8px;
    transition: 0.6s;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
}

